---
layout: default
about: 'about.html'
work: 'work.html'
profile_image: 'assets/images/profile-pic.png'
---

<header class="site-head">
  <div class="navbar">
    <div class="site-head-content" class="inner">
      {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
          <img src="{{ page.logo}}" alt="Blog Logo" />
        </a>
      {% endif %}
      <a href="{{ site.baseurl }}">
        <h1 class="blog-title">
          Ralph on <span>Rails</span>
        </h1>
      </a>

      <ul>
        <li><a href='{{site.baseurl}}'> Blog </a></li>
        <li><a href='{{site.baseurl}}{{ page.about }}' class="active"> About me </a></li>
        <li><a href='{{site.baseurl}}{{ page.work }}'> Projects </a></li>
        <li><a href='mailto:wintle.ralph@gmail.com' class='hire'> Hire me </a></li>
      </ul>
    </div>
  </div>
</header>

<main class="content" role="main">
    <article class="post">

    <!--<h1 class="post-title">{{ page.title }}</h1> -->
    <div class="profile">
      <img src="{{ page.profile_image }}" alt="Profile Picture of Ralph" />
      <h3>Hi I'm Ralph!</h3>
      <p>Your next Ruby Developer</p>
    </div>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
